<div class="container-fluid" style="margin-top: 100px;">
    <div class="row mx-auto">
        <div class="col">
            <h1 class="text-center font">Angular</h1><br>
            <p>Angular 7 is an open source JavaScript framework for building web applications and apps in
                JavaScript, html, and Typescript which is a superset of JavaScript. Angular provides built-in
                features for animation, http service, and materials which in turn have features such as
                auto-complete, navigation, toolbar, menus, etc. The code is written in Typescript, which
                compiles to JavaScript and displays the same in the browser.</p>
            <h2>Why to Learn Angular 7?</h2>
            <p>Angular 7 is a MUST for students and working professionals to become a great Software Engineer
                specially when they are working in Software Development Domain. I will list down some of the key
                advantages of learning Angular 7:</p>
            <ul>
                <li> Angular is the most stable and most popular javascript based platform now-a-days.</li>
                <li> ngular development is a complete suite for an application development and you can have
                    following roles after learning Angular in a company.</li>
                <ul>
                    <li>Web developer</li>
                    <li>Web app developer</li>
                    <li>UI developer </li>
                    <li>UX developer </li>
                    <li>Front-end developer </li>
                    <li>JavaScript developer</li>
                </ul>
            </ul>
            <h2>Applications of Angular 7</h2>
            <p>As mentioned before, Angular 7 is one of the most widely used language over the web. </p>
            <p><strong> Google Supported Community -</strong> Google actively supports Angular and its
                development. Angular is used in various Google Apps.</p>
            <ul>
                <li><strong>POJO based development -</strong> Angular heavily used Plain Old JavaScript Object
                    and it helps in learning Angular in an easier way.</li>
                <li><strong>Typescript -</strong> Typescript is super set of javascript and is easy to debug. It
                    is highly secure and is object oriented.</li>
            </ul>
            <br>
            <h2 class="text-center">Angular7 - Overview</h2>
            <p><strong>Angular 7</strong> is owned by Google and the stable release was done on 18th
                October 2018. This is the latest version of Angular.</p>
            <p>Below is the list of Angular versions released so far − </p>
            <table class="table table-bordered twidth ">
                <thead>
                    <tr>
                        <th scope="col">Version</th>
                        <th scope="col">Released Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Angular JS</td>
                        <td>October 2010</td>
                    </tr>
                    <tr>
                        <td>Angular 2.0</td>
                        <td>Sept 2016</td>
                    </tr>
                    <tr>
                        <td>Angular 4.0</td>
                        <td>March 2017</td>
                    </tr>
                    <tr>
                        <td>Angular 5.0</td>
                        <td>November 2017</td>
                    </tr>
                    <tr>
                        <td>Angular 6.0</td>
                        <td>May 2018</td>
                    </tr>
                    <tr>
                        <td>Angular 7.0</td>
                        <td>October 2018</td>
                    </tr>
                </tbody>
            </table>
            <h2 class="text-center">Angular7 - Environment Setup</h2>
            <p>In this chapter, we will discuss the Environment Setup required for Angular 7. To install Angular
                7, we require the following −</p>
            <ul>
                <li>Nodejs</li>
                <li>Npm</li>
                <li>Angular CLI</li>
                <li>IDE for writing your code</li>
            </ul>
            <h3>Node.js and npm Installation:</h3>
            <ul>
                <li>Install Node.js and npm by downloading the installer from the official website: <span
                        style="color: rgb(1, 64, 123);">Node.js.</span> </li>
            </ul>
            <br>
            <h3>Angular CLI Installation:</h3>
            <ul>
                <li>Open a terminal or command prompt and run the following command to install Angular CLI
                    globally:</li>
            </ul>
            <p> <strong>npm install -g @angular/cli</strong></p>
            <br>
            <h3>IDE for Writing Code:</h3>
            <ul>
                <li>Choose an Integrated Development Environment (IDE) for writing your Angular code. Some
                    popular choices include:</li>
                <ul>
                    <li style="color: rgb(1, 64, 123);">Visual Studio Code</li>
                    <li style="color: rgb(1, 64, 123);">WebStorm</li>
                </ul>
            </ul>
            <br>
            <h3>Create Angular Project:</h3>
            <ul>
                <li>Open a terminal or command prompt and navigate to the desired directory for your project.
                </li>
                <li>Run the following command to create a new Angular project:</li>
                <p><strong>ng new your-project-name</strong></p>
                <li>Follow the prompts to set up your project. You can choose additional features like routing
                    and stylesheets during the setup.</li>
            </ul>
            <br>
            <h3>Navigate to Project Directory:</h3>
            <ul>
                <li>Change into the project directory:</li>
                <p><strong>cd your-project-name</strong></p>
            </ul>
            <h3>Run the Angular App:</h3>
            <ul>
                <li>
                    Start the development server with the following command:
                </li>
                <p><strong>ng serve</strong></p>
                <li>Open your browser and navigate to <strong> http://localhost:4200/ </strong> to see your
                    Angular app.</li>

            </ul>
            <br><br>
            <p>The angular7-app/ folder has the following <strong>folder structure−</strong></p>
            <ul>
                <li><strong>e2e/ −</strong> end to end test folder. Mainly e2e is used for integration testing
                    and helps ensure
                    the application works fine.</li>
                <li><strong>node_modules/ −</strong> The npm package installed is node_modules. You can open the
                    folder and see
                    the packages available.</li>
                <li><strong> src/ − </strong>This folder is where we will work on the project using Angular
                    7.Inside src/ you
                    will app/ folder created during the project setup and holds all the required files required
                    for the project.</li>
            </ul>
            <br>
            <p>The angular7-app/ folder has the following <strong>file structure −</strong> </p>
            <ul>
                <li><strong>angular.json −</strong>It basically holds the project name, version of cli, etc.
                </li>
                <li><strong>.editorconfig −</strong>This is the config file for the editor.</li>
                <li><strong>.gitignore −</strong>A .gitignore file should be committed into the repository, in
                    order to share the ignore rules with any other users that clone the repository.</li>
                <li><strong>package.json −</strong>The package.json file tells which libraries will be installed
                    into node_modules when you run npm install.</li>
                <p>At present, if you open the file package.json in the editor, you will get the following
                    modules added in it −</p>
                <pre>
"@angular/animations": "~7.2.0", 
"@angular/common": "~7.2.0", 
"@angular/compiler": "~7.2.0", 
"@angular/core": "~7.2.0", 
"@angular/forms": "~7.2.0", 
"@angular/platform-browser": "~7.2.0", 
"@angular/platform-browser-dynamic": "~7.2.0", 
"@angular/router": "~7.2.0", 
"core-js": "^2.5.4", 
"rxjs": "~6.3.3", 
"tslib": "^1.9.0", 
"zone.js": "~0.8.26" </pre>
                <p>In case you need to add more libraries, you can add those over here and run the npm install
                    command.</p>
                <li><strong>tsconfig.json − </strong>This basically contains the compiler options required
                    during compilation.</li>
                <li><strong>tslint.json − </strong> This is the config file with rules to be considered while
                    compiling</li>
            </ul>
            <br>
            <p>The <strong>src/</strong>folder is the main folder, which internally has a different file
                structure.</p>
            <h3>Folder Structure:</h3>
            <ul>
                <li><strong>src/</strong> is the main folder.</li>
                <li><strong>app/</strong> contains default files installed by Angular CLI.</li>
                <li><strong>app.module.ts</strong> imports essential libraries and configures the main module.
                </li>
                <li><strong>app-routing.module.ts</strong> handles routing for the project.</li>
            </ul>
            <h3>Files in app/:</h3>
            <ul>
                <li><strong>app.component.css:</strong> Contains CSS for styling.</li>
                <li><strong>app.component.html:</strong> Default HTML content with placeholder links.</li>
                <li><strong>app.component.spec.ts:</strong> Auto-generated unit test file.</li>
                <li><strong>app.component.ts:</strong> Defines the main component class with a title.</li>
                <li><strong>app-routing.module.ts:</strong> Manages routing for the app.</li>
            </ul>
            <h3> Additional Folders:</h3>
            <ul>
                <li><strong>assets/: </strong> For saving images and JS files.</li>
                <li><strong>environment/: </strong> Contains environment configuration files.</li>
            </ul>
            <h3>Additional Files:</h3>
            <ul>
                <li><strong>favicon.ico: </strong> Website icon.</li>
                <li><strong>index.html: </strong> Main HTML file with &lt;app-root&gt;&lt;/app-root&gt;
                    selector.</li>
                <li><strong>main.ts:</strong> Starting point for the project, bootstraps the main module.</li>
                <li><strong>'polyfill.ts', 'styles.css', 'test.ts', 'tsconfig.app.json',
                        'tsconfig.spec.json',</strong></li>
                <li><strong> typings.d.ts: </strong> Various configuration and utility files.</li>
            </ul>
            <h3>Execution Flow:</h3>
            <ul>
                <li>Project starts from <strong>'main.ts'</strong>.</li>
                <li>Imports necessary modules and environment settings.</li>
                <li>Bootstraps the main module <strong>'(AppModule)'</strong>, triggering the display of the app
                </li>
            </ul>
            <br><br>
            <h1 class="text-center">Angular7 - Components</h1>
            <p>Major part of the development with Angular 7 is done in the components. Components are basically
                classes that interact with the .html file of the component, which gets displayed on the browser.
                We have seen the file structure in one of our previous chapters.</p>
            <p>The file structure has the app component and it consists of the following files −</p>
            <ul>
                <li>app.component.css</li>
                <li>app.component.html</li>
                <li>app.component.spec.ts</li>
                <li>app.component.ts</li>
                <li>app.module.ts</li>
                <p> And if you have selected angular routing during your project setup, files related to routing
                    will also get added and the files are as follows −</p>
                <li>app-routing.module.ts</li>
            </ul>
            <p> And if you have selected angular routing during your project setup, files related to routing
                will also get added and the files are as follows −</p>
            <p>, angular-cli has a command to create your own component. However, the app component which is
                created by default will always remain the parent and the next components created will form the
                child components.</p>
            <p>Let us now run the command to create the component with the below line of code −</p>
            <p><strong>ng g component new-cmp</strong></p>
            <p>When you run the above command in the command line, you will receive the following output −</p>
            <pre>
C:\projectA7\angular7-app>ng g component new-cmp 
CREATE src/app/new-cmp/new-cmp.component.html (26 bytes) 
CREATE src/app/new-cmp/new-cmp.component.spec.ts (629 bytes) 
CREATE src/app/new-cmp/new-cmp.component.ts (272 bytes) 
CREATE src/app/new-cmp/new-cmp.component.css (0 bytes) 
UPDATE src/app/app.module.ts (477 bytes)</pre>
            <p>Now, if we go and check the file structure, we will get the new-cmp new folder created under the
                <strong>src/app</strong> folder.
            </p>
            <p>The following files are created in the new-cmp folder −</p>
            <ul>
                <li><strong>new-cmp.component.css −</strong> css file for the new component is created.</li>
                <li><strong>new-cmp.component.html −</strong> html file is created.</li>
                <li><strong>new-cmp.component.spec.ts -</strong> this can be used for unit testing.</li>
                <li><strong>new-cmp.component.ts − </strong> here, we can define the module, properties, etc
                </li>
            </ul>
            <h2 class="text-center">Angular7 - Modules</h2>
            <p>Module in Angular refers to a place where you can group the components, directives, pipes, and
                services, which are related to the application.</p>
            <p>In case you are developing a website, the header, footer, left, center and the right section
                become part of a module.</p>
            <p>To define module, we can use the NgModule. When you create a new project using the Angular –cli
                command, the ngmodule is created in the app.module.ts file by default </p>
            <p>The NgModule needs to be imported as follows −
                <i> import &#123; NgModule &#125; from '@angular/core';</i>
            </p>
            <h4>Declaration</h4>
            <p>It is an array of components created. If any new component gets created, it will be imported
                first and the reference will be included in declarations as shown below −</p>
            <pre>declarations: [ 
AppComponent,  
NewCmpComponent 
]</pre>
            <h4>Import</h4>
            <p>It is an array of modules required to be used in the application. It can also be used by the
                components in the Declaration array. For example, right now in the @NgModule, we see the Browser
                Module imported. In case your application needs forms, you can include the module with the below
                code −</p>
            <pre> import &#123; FormsModule &#125; from '@angular/forms';</pre>
            <pre>The import in the <strong>@NgModule</strong> will be like the following −</pre>

            <pre>
imports: [ 
BrowserModule, 
FormsModule 
]</pre>
            <h4>Providers</h4>
            <p>This will include the services created.</p>
            <h4>Bootstrap</h4>
            <p>This includes the main app component for starting the execution.</p>
            <br><br>
            <h1>NgModule Overview:</h1>
            <h3>Purpose of NgModule:</h3>
            <p>Angular's way to group related code blocks (components, directives, pipes, services).
                Describes how the application components fit together</p>
            <p><strong>Similarity to Namespace (C#)</strong>Resembles a namespace in C#.
                Organizes dependencies for both the compiler and dependency injection.
                Enhances code organization and readability.</p>
            <p>Modules can be lazily loaded, improving application startup speed.
                Useful when modules are not needed immediately on startup</p>
            <p>Every Angular application must have a root module (e.g., AppModule).
                The app is launched by bootstrapping the root module</p>
                <h3>Structure of NgModule:</h3>
                <p>Defined by the <strong>'@NgModule'</strong> decorator.
                    Includes key pieces in the metadata object:</p>
                <ul><h5>Declarations Array:</h5>
                    <li>Contains components, pipes, and directives specific to the module.</li>
                </ul>
                <ul><h5>Imports Array</h5>
                    <li>Imports external and internal modules.</li>
                    <li>Examples: CommonModule, custom routing modules.</li>
                </ul>
                <ul><h5>Providers Array:</h5>
                    <li>Includes internal and external services.</li>
                    <li>Globally scoped, no need for export.</li>
                    <li>Example: HttpClientModule.</li>
                </ul>
                <ul><h5>Bootstrap Array:</h5>
                    <li>Specifies the main app component for application entry.</li>
                    <li>Components listed here are created during bootstrapping.</li>
                </ul>
                <br>
                <h3>Multiple Modules:</h3>
                <p>NgModules organize applications into cohesive groups.
                    Feature modules complement the root module for focused functionality.
                    Helps separate concerns like routing, global services, and UI components.</p>
                    
                    <div class="d-flex justify-content-center mt-3">
                        <a routerLink="/quiz-instructions" class="btn btn-lg btn-orange" type="button">Start Quiz</a>
                    </div>
                    
            </div>
        </div>
    </div>
