*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #171717;
}
.container .heading{
width: 85%;
margin: auto;
text-align: center;
}
.container .heading h1{
    color: #ff7b00;
    font-size: 50px;
    margin-top: 50px;
}
.container .heading1 h1{
    text-align: center;
    color: #ff7b00;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.wrapper{
    width: 85%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    flex: 1;
    width: 50%;
    
    transition: 0.4s ease;
}
.content:hover{
    transform: translateY(-10px);

}
.content h2{
    font-size: 30px;
    color: #284966;
}
.content p{
    color: #666;
    font-size: 19px;
    line-height: 1.5;
    margin-top: 10px;
}
.content .btn{
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid #ff7b00;
    font-size: 19px;
    color: #ff7b00;
    padding: 13px 16px;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    
}
.content .btn::before{
    position: absolute;
    content: "";
    border: 1px solid transparent;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    transition: transform 0.7s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.5,0.4,0.7);
    transform: scaleX(0);
}
.content .btn:hover{
    color: #fff;

}
.content .btn:hover::before{
    transform: scaleX(1);
}
.image{
    flex-shrink: 0;
    transition: 0.4s ease;
}
.image:hover{
    transform: translateY(-10px);
}
.image img{
    width: 100%;
    height: auto;
}

.contain {
    margin-top: 50px;
}

.col-lg-4 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #ff7b00;
    font-size: 1.8em;
    margin-bottom: 20px;
}

h5 {
    color: #6c757d;
    font-size: 1.2em;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    line-height: 1.6;
    text-align: justify
}


@media screen and (max-width: 768px){
    .wrapper{
        flex-direction: column;
        margin-top: 0px;
    }
    .container .heading h1{
        font-size: 40px;
    }
    .content, .image{
        width: 100%;
        margin-top: 20px;
    }
    .content h2{
        font-size: 16px;
    
    }
    .content .btn{
        font-size: 16px;
        padding: 12px 14px;
    }
    h1{
        text-align: center;
    }
    .cards{
        flex-direction: column;
        
    }
.card-right {
    height: 410.6px;
    width: 287.2px;
    margin-left: 40px;
    
}
    
}