<section class="py-5" style="background: #F3F3F3; ">
    <div class="container" style="background: #F3F3F3;">
        <h2 class="text-center my-5">Start Quiz</h2>
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="quiz-box">
                    <a routerLink="/questions-html" class="text-decoration-none">
                        <div class="text-center">
                            <i class="fa fa-html5 mb-4"></i>
                        </div>
                        <h3 class="text-center text-dark"> HTML5</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="quiz-box">
                    <a routerLink="/questions" class="text-decoration-none">
                        <div class="text-center">
                            <i class="fa fa-css3 mb-4"></i>
                        </div>
                        <h3 class="text-center text-dark">Css3</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 mb-4 ">
                <div class="quiz-box">
                    <a routerLink="/questions-js" class="text-decoration-none">
                        <div class="text-center">
                            <i class="fa-brands fa-js mb-4"></i>
                        </div>
                        <h3 class="text-center text-dark">JAVASCRIPT</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="quiz-box">
                    <a routerLink="/questions-bootstrap" class="text-decoration-none">
                        <div class="text-center">
                            <i class="fa-brands fa-bootstrap mb-4"></i>
                        </div>
                        <h3 class="text-center text-dark">Bootstrap v5 </h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 mb-4 ">
                <div class="quiz-box">
                    <a routerLink="/questions-angular" class="text-decoration-none">
                        <div class="text-center">
                            <i class="fa fa-angular mb-4"></i>
                        </div>
                        <h3 class="text-center text-dark">Angular</h3>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>