<div class="container" style="margin-top: 120px;">
    <div class="box-model">
        <h2 class="text-center">Instructions</h2>
            <div class="inst">
                <i class="fa fa-info"></i>
            </div>
        <ul>
            <li>Choose the number of questions you want to solve &nbsp; (1 to 20).!</li>
            <li>All questions must be solved.!</li>
            <li>Clicking the "Next" button automatically saves your answer.!</li>
            <li>Moving to the next question won't alter your previous answer.!</li>
            <li>Use "Next" and "Prev" buttons to move between questions.!</li>
            <li>You can only go back to the previous question, keeping your answer unchanged.!</li>
            <li>Complete all questions and submit for results.!</li>
        </ul>
        <button routerLink="/quiz-start" class="btn NewButton">OK</button>
    </div>
</div>

